body{
    margin: auto ;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pan{
    border: 1px ;
    margin: 0;
    height: 400px;
    width: 100%;
}
.clearflix{
    clear:both
    }
#articulos{
    border: solid;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding: 2%;
    float: left;
    
}
.article{
    float: left;
    margin: 11px;
}
article{
    margin-top: 15px;
    width: 400px;
    height: auto;
    border: 1px #f5f5f5 solid ;
    background: #f5f5f5;
    box-shadow: 1px 1px 10px gray;
    cursor: default;
    transition: all 400ms ease;
}
.article:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);

}

section{
    margin:0 auto;
}
.precio{
    float: left;
    margin: 38px;
    font-size: large;

}
.btn{
    border: 1px rgb(255, 238, 0) solid;
    color: rgb(255, 255, 255);
    background: rgb(255, 238, 0);
    height: 50px;
    width: 150px;
    border-radius: 3pc;
    transition: all 400ms ease;
    color: white;

}

.pato{
    float: left;
    border: 1px ;
    width: 33%;
    background: #f5f5f5;
    height: 330px;
   
}
.pato a{
    text-decoration: none;
}
.nosotros{
    float: left;
    border: 1px;
    width: 48px;
    margin: 8px;   
    
}
a ul li {
    font-style: none;
}
#pie{
    border: 1px #f5f5f5 solid ;
    margin: 1px;
}
.centrado{
    text-align: center;
}
.article img {
    margin: auto;
    display: block;
    

}
#barra{
    width: 312px;
    margin: 11px;
    border: 1px solid;
}
.venta{
   float: left;
   margin: 8px;
}
.venta .btn:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.venta img{
    margin: auto;
    display: block;
    
}

.venta img:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.precio2{
    margin:70px;
    font-size: large;

}
.botoncomprar{
float: left;
margin: 11px;
font-size: large;
}
#barra{
    border: 1px;
    height: 900px;
   

}

.container-fluid li a:hover{
    background-color: blue;
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transition: all 400ms ease;

}
#barra a{
    text-decoration: none;
}

.producto{
    float: left;
    flex-wrap: wrap;
    
}
#img_producto{
    height: 700px; ;
    width: 575px;
}
#img_producto img {
    margin: auto;
    display: block;
}
#img_producto img :hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.btn_producto{
width: 270px ;
height: 50px;
}
#contenedor{
    margin: 0 auto;
    border: 1px ;
    width: 1220px;
    height: 800px;
}

.btn_producto{
    border: 1px rgb(255, 238, 0) solid;
 
    background: rgb(255, 238, 0);

}

.btn_producto:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.pepe{
    width: 270px ;
    height: 50px;
}
 
.pepe{

    background: blue;
}

.pepe:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.paginacion{
    margin:20px 0;
 
}

.paginacion ul{
    list-style:none;
   text-align:center;
  
}
.paginacion ul li{
    display: inline-block;
    margin-right: 10px;

}

.paginacion ul li a {
    display: block;
    padding: 8px 20px;
    color: #fff;
    background: #98a4a7;
    text-decoration: none;
}

.paginacion ul li a:hover{
    background: #98a4a7;
    transform: translateY(-3%)
}

.paginacion ul li .active{
    background: #30b7d8;
    font-weight:bold ;
}

.resolucion {
    width: 99%;
    text-align: center;
}

.targeta{
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.quienes{
    text-align: justify;
}

.contar .targeta{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    
    text-align: center;
    transition: all 0.25s;
}

.contar .targeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contar .targeta img{
    width: 330px;
    height: 220px;

}


.contar .targeta h4{
    font-weight: 600;
}

.contar .targeta p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contar .targeta a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.contar{
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    border: solid transparent;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}
@media (max-width: 1060px) {
    .article{
        width: 90%;
        margin: 20px;
    }
    .precio{
    margin-right: 12px;
        
    }
    #contenedor {
        width: 370px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid transparent;
    }
    #img_producto{
        height: auto ;
        width: auto;
    }
    #img_producto img {
       width: 350px;
       height: auto;
       margin: none;
    }
    .producto div {
        margin: none;
        border: solid red transparent ;
        margin-left: 100000px;
        
    }

    #contenedor div {
       width: 100%;
       height: auto;
    }
    footer{
        margin-top: 900px;
    }


}

